# Step 3: Code Verification

In the last step the post-migration code is verified. The tests created in step 1 are run with the translated code from step 2.
If all tests pass, the post-migration code has the same functionality as the pre-migration code and the migration was successfull.